.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin: 60px 0;
}

.contact__title {
    margin-bottom: 30px;
}

.contact__social-media {
    display: flex;
    gap: 15px;
}

.contact__social-media li {
    position: relative;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}

.contact__social-media li:hover {
    transform: translateY(-20px);
    transition: 0.5s;
}

.contact__social-media li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    filter: blur(1px);
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.6s;
}

.contact__social-media li:hover::before {
    transform: skewX(45deg) translateX(-150px);
    transition: 0.6s;
}

.contact__social-media svg {
    fill: var(--white);
    transition: all 0.3s;
}

.contact__social-media .twitter:hover .icon-twitter {
    fill: #1DA1F2;
    transition: fill 0.3s ease;
}

.contact__social-media .instagram:hover .icon-instagram {
    fill: url(#instagram-gradient);
}

.contact__social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact__form {
    width: 100%;
    z-index: 1;
}

.contact__form form {
    display: grid;
    gap: 35px;
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 15px;
}

.form-field input,
.form-field textarea {
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    color: var(--white);
    background: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 20px 25px;
    border: none;
}

.contact__form textarea {
    height: 200px;
    resize: none
}

.form-field input::placeholder,
.form-field textarea::placeholder {
    color: #E5E5E5;
}

.form-field input:focus,
.form-field textarea:focus {
    outline: transparent;
}

.contact__form .btn {
    position: absolute;
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
}

@media only screen and (min-width: 700px) {
    .contact__form form {
        padding: 40px;
    }

    .contact__form {
        width: auto;
    }

    .contact > div:first-child {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .contact__title {
        margin: 0;
    }

    .contact__form .form-field:last-of-type {
        grid-column: 1 / 3;
    }

    .form-field label {
        font-size: 20px;
    }

    .form-field input,
    .form-field textarea {
        padding: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .contact {
        display: grid;
        grid-template-columns: 40fr 60fr;
    }

    .contact > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__title {
        margin-bottom: 80px;
    }
}