.about {
    margin-top: 150px;
    margin-bottom: 50px;
}

.about > * {
    display: block;
}

.about h1 {
    font-size: clamp(48px, 14vw, 70px);
}

.about h1 + code {
    margin-bottom: 30px;
}

.about h1 strong {
    color: var(--primary-color);
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin: 60px 0;
}

.skills-heading {
    margin-left: 60px;
}

.skills-heading__title {
    margin-bottom: 30px;
}

.skills-tech {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-tech__toggle {
    margin-bottom: 30px;
}

.skills-tech__toggle button:first-child {
    margin-right: 50px;
}

.skills-tech__toggle button {
    position: relative;
    font-family: "Consolas", "Fira Code", "JetBrains Mono", "Source Code Pro", sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    transition: all 0.2s;
}

.skills-tech__toggle button:hover {
    color: var(--primary-color);
    padding: 10px 15px;
    background-color: rgba(41, 136, 255, 0.2);
    border-radius: 10px;
    transition: all 0.2s;
}

.skills-tech__toggle button.selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: 2px;
    background-color: #fff;
}

.skills-tech__toggle button:hover::after {
    opacity: 0;
}

.skills-tech__stack {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 50px;
    grid-auto-flow: dense;
    margin: 30px 0;
    width: 100%;
    max-width: 600px;
}

.skills-tech__stack > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.skills-tech__stack .icon {
    filter: grayscale(100%);
    transition: 0.3s;
}

.skills-tech__stack .icon:hover {
    filter: grayscale(0);
    transition: 0.3s;
}

.experience {
    margin: 60px 0;
}

.experience div:last-child {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience .wip {
    font-family: "Consolas", "Fira Code", "JetBrains Mono", "Source Code Pro", sans-serif;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .skills {
        flex-direction: column;
    }

    .skills-tech {
        width: 100%;
    }

    .skills-heading {
        margin: 0 0 30px 0;
    }
}