.files,
.folder {
  font-family: "Consolas", "Fira Code", "JetBrains Mono", "Source Code Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--black);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.folder__head {
  display: flex;
  align-items: center;
}

.folder__info {
  margin-right: 10px;
}

.folder span {
  font-weight: 600;
  margin-left: 10px;
}

.folder:hover span {
  color: var(--primary-color);
}

.folder:hover svg {
  color: var(--primary-color);
}

.files {
  flex-direction: column;
  align-items: normal;
  padding-left: 30px;
}
