.pinned-projects > * {
    display: block;
}

.projects__hero-header {
  margin-top: 150px;
  margin-bottom: 50px;
}

.projects__hero-header h1 {
    font-size: clamp(48px, 14vw, 70px);
}

.projects__hero-header h1 + code {
    margin-bottom: 30px;
}

.projects__hero-header h1 strong {
    color: var(--primary-color);
}

.pinned-projects + code + div {
  margin: 50px 0;
}

.projects-tree + code {
  margin-bottom: 100px;
}
