.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: auto;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    color: var(--white);
    fill: var(--white);
    background-color: #2F2F2F;
}

.footer code {
    transform: none;
}

.footer-email svg {
    transform: translateY(5px);
    margin-right: 5px;
}

.footer-email a {
    color: var(--white);
    text-decoration: none;
}

.footer-email a:hover {
    text-decoration: underline;
}

.footer-social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-social-media svg {
    fill: var(--white);
    transform: translateY(3px);
}

@media only screen and (min-width: 700px) {
    .footer code {
        position: absolute;
        margin: 0;
    }

    .footer code:first-of-type {
        top: 20px;
        left: 20px;
    }

    .footer code:last-of-type {
        bottom: 20px;
        right: 20px;
    }
}

@media only screen and (min-width: 1080px) {
    .footer {
        flex-direction: row;
        justify-content: center;
        height: 150px;
        white-space: nowrap;
    }

    .footer code {
        position: initial;
        margin: 0;
    }
}