.featured-card {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    margin: 100px 0;
}

.featured-card:nth-of-type(2n+1) .featured-card__image {
    grid-column: 1 / 8;
}

.featured-card__image {
    position: relative;
    grid-column: 6 / -1;
    grid-row: 1 / 3;
    width: clamp(300px, 50vw, 700px);
    max-height: 450px;
}

.featured-card__image-wrapper {
    min-width: 100%;
    background-color: #2f2f2f;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.featured-card__image a {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.featured-card__image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s;
}

.featured-card__image img:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: all 0.5s;
}

.featured-card:nth-of-type(2n+1) .featured-card__content {
    grid-column: 7 / -1;
}

.featured-card__content {
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    padding: 55px 40px 40px 40px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.featured-card__content p {
    font-family: "Consolas", "Fira Code", "JetBrains Mono", "Source Code Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 5px
}

.featured-card__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.featured-card__tags {
    display: flex;
    justify-content: left;
    margin-top: 35px;
    flex-wrap: wrap;
}

.featured-card__tags div {
    font-family: "Consolas", "Fira Code", "JetBrains Mono", "Source Code Pro", sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    background: rgba(41, 136, 255, 0.46);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.featured-card__tags > div {
    margin-bottom: 10px;
}

.featured-card__tags div:not(:last-of-type) {
    margin-right: 10px;
}

.glowing-square {
    top: -30px;
    left: -40px;
    position: absolute;
    width: clamp(100px, 25vw, 230px);
    height: clamp(100px, 25vw, 230px);
    background: linear-gradient(180deg, #2988FF 0%, #6029FF 100%);
    box-shadow: 0 0 30px 15px rgba(41, 136, 255, 0.15);
    border-radius: 30px;
    z-index: -10;
}

.featured-card:nth-of-type(2n+1) .glowing-square {
    right: -40px;
    left: initial;
}

.glass-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.glass {
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    animation: levitate 3.5s ease-in-out infinite;
}

.glass-top {
    top: -50px;
    left: -50px;
}

.glass-right {
    right: -50px;
    top: 40%;
}

.glass-bottom {
    bottom: -50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 1100px) {
    .glass {
        width: clamp(50px, 10vw, 100px);
        height: clamp(50px, 10vw, 100px);
    }
}

@media only screen and (max-width: 800px) {
    .glass-bottom,
    .glass-right {
        visibility: hidden;
    }

    .glass-top {
         top: -40px;
         left: -40px;
     }

    .glass-top svg {
        width: 35px;
        height: 35px;
    }

    .featured-card:nth-of-type(2n) .glass-top {
        right: -40px;
        left: initial;
    }


}

@media only screen and (max-width: 760px) {
    .featured-card__image {
        width: 100%;
        height: 100%;
    }

    .featured-card__image-wrapper {
        height: 100%;
        width: 100%;
        background-color: initial;
        border: none;
    }

    .featured-card:nth-of-type(n) .featured-card__content,
    .featured-card:nth-of-type(n) .featured-card__image {
        grid-column: 1 / -1;
    }

    .featured-card__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 35px;
        min-width: 100%;
        min-height: 100%;
        z-index: 5;
        pointer-events: none;
    }

    .featured-card__image {
        width: 100%;
    }

    .glass,
    .glowing-square {
         visibility: hidden;
    }
}