@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2988FF;
    --secondary-color: #5EB977;
    --grey: #A1A1A1;
    --white: #FFF;
    --black: #212121;
}

body {
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}