/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Consolas';
    src: url('./assets/fonts/Consolas.ttf') format('ttf'),
         url('./assets/fonts/Consolas.woff2') format('woff2'),
         url('./assets/fonts/Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Consolas';
    src: url('./assets/fonts/Consolas-Bold.ttf') format('ttf'),
         url('./assets/fonts/Consolas-Bold.woff2') format('woff2'),
         url('./assets/fonts/Consolas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2988FF;
    --secondary-color: #5EB977;
    --grey: #A1A1A1;
    --white: #FFF;
    --black: #212121;
    --container-padding: 30px;
    --container-width: calc(100% - var(--container-padding) * 2);
}

body {
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
}

p {
    line-height: 26px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--black);
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 4px;
    transition: background 0.3s;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    :root {
        --container-padding: 80px;
    }
}

@media only screen and (min-width: 1500px) {
    :root {
        --container-padding: 130px;
        --container-width: 1330px;
    }
}

.container {
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}
