@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-display: swap;
    src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2988FF;
    --secondary-color: #5EB977;
    --grey: #A1A1A1;
    --white: #FFF;
    --black: 212121;
}

body {
    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
}