.cursor {
    cursor: none;
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 10px rgba(41, 136, 255, 0.5);
    animation: glowing 2s ease-in-out infinite;
    pointer-events: none;
    z-index: 1000;
}

.cursor::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    transform: translate(-50%, -50%);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 20px 10px rgba(41, 136, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 40px 15px rgba(41, 136, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(41, 136, 255, 0.5);
    }
}

@media only screen and (max-width: 1280px) {
    body {
        cursor: initial;
    }

    .cursor {
        display: none;
    }
}